n8nWB.json
{
  "name": "n8nWB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "809795a3-a1e5-4d44-952f-a5e67e87afad",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        0
      ],
      "id": "93c9be74-b56a-4cb9-8a79-b98d84f26eee",
      "name": "Webhook",
      "webhookId": "809795a3-a1e5-4d44-952f-a5e67e87afad"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "=923421504627"
            },
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -16
      ],
      "id": "3bb5aff0-2ba5-49cd-bd8d-0d7a401478ab",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "yCnym96h053SURUT",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ccc343d-5394-44bf-b76a-ed401e583603",
              "leftValue": "={{ $json.body.messages[0].from_me }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -64,
        0
      ],
      "id": "63dab1b9-7cdd-48c0-bb88-62dbbdf67d3c",
      "name": "Filter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y",
          "mode": "list",
          "cachedResultName": "Restaurant Whatsapp Bot n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Restaurant_info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        592,
        192
      ],
      "id": "7d0057dc-a9a9-4f7e-9616-3e545b4bb2df",
      "name": "Restaurant_Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wGhy41t50vmrlzra",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y",
          "mode": "list",
          "cachedResultName": "Restaurant Whatsapp Bot n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1999225934,
          "mode": "list",
          "cachedResultName": "FAQ_Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit#gid=1999225934"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        208
      ],
      "id": "4dbbd560-b3af-4ac2-b766-dfc618667d75",
      "name": "FAQ_Menu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wGhy41t50vmrlzra",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y",
          "mode": "list",
          "cachedResultName": "Restaurant Whatsapp Bot n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1588558952,
          "mode": "list",
          "cachedResultName": "Table_Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit#gid=1588558952"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_active": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('is_active__using_to_match_', ``, 'string') }}"
          },
          "matchingColumns": [
            "is_active"
          ],
          "schema": [
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "table_size",
              "displayName": "table_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        208
      ],
      "id": "5b9f1236-5789-4e41-b3af-ca067abfbaff",
      "name": "Table_Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wGhy41t50vmrlzra",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y",
          "mode": "list",
          "cachedResultName": "Restaurant Whatsapp Bot n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1851362430,
          "mode": "list",
          "cachedResultName": "Bookings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kv0oK4Bm9l60AyP35H85NPt7e5KfS-oOQkmaMu-Fq8Y/edit#gid=1851362430"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "booking_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_id', ``, 'string') }}",
            "customer_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_name', ``, 'string') }}",
            "customer_phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customer_phone', ``, 'string') }}",
            "booking_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_date', ``, 'string') }}",
            "booking_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('booking_time', ``, 'string') }}",
            "guests": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('guests', ``, 'string') }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `mark it as TRUE or FALSE`, 'string') }}",
            "table_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('table_id', `use the table_id from the Table_Info sheet`, 'string') }}"
          },
          "matchingColumns": [
            "booking_id"
          ],
          "schema": [
            {
              "id": "booking_id",
              "displayName": "booking_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "booking_date",
              "displayName": "booking_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "booking_time",
              "displayName": "booking_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "guests",
              "displayName": "guests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "table_id",
              "displayName": "table_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        384,
        208
      ],
      "id": "9c7c6e9d-0c28-4e9f-bb3d-d13493d79b6e",
      "name": "Bookings",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wGhy41t50vmrlzra",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        208
      ],
      "id": "47d0928e-1909-45cc-917a-5965b990329c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vFkATrB7SiqDtCV0",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.messages[0].text.body }}",
        "options": {
          "systemMessage": "=You are an AI-powered WhatsApp assistant for a restaurant.\nYour role is to politely assist customers with inquiries and table reservations ONLY for this restaurant.\n\n========================\nRESTAURANT IDENTITY\n========================\nRestaurant Name: \"UET Taxila Main Cafe\"\n\nYou must NEVER change or invent restaurant details.\nOnly use information provided from Google Sheets.\n\n========================\nLANGUAGE & TONE\n========================\n- Always respond in a friendly, polite, and conversational tone.\n- Keep messages short and clear (WhatsApp-style).\n- Use simple English (no slang, no emojis overload).\n- Be respectful and welcoming.\n- Address the customer naturally (e.g., “Sure!”, “Of course”, “Happy to help!”).\n\n========================\nYOUR CAPABILITIES\n========================\nYou can:\n- Answer questions about restaurant timing, location, menu, and policies.\n- Help customers book a table.\n- Confirm booking details before final submission.\n- Politely reject invalid requests.\n\nYou CANNOT:\n- Take food orders.\n- Modify menu items.\n- Offer discounts or promotions unless explicitly listed.\n- Book outside opening hours.\n- Accept requests outside restaurant policies.\n\n========================\nMENU RULES (VERY IMPORTANT)\n========================\n- You MUST ONLY mention menu items present in the Menu Sheet.\n- If a customer asks for any item NOT listed in the menu, politely say it is unavailable.\n- NEVER invent dishes, prices, or categories.\n\nExample:\nCustomer: \"Do you serve sushi?\"\nReply: \"Sorry, we don’t offer sushi. However, we do serve {{cuisine_type}} dishes from our menu.\"\n\n========================\nBOOKING RULES\n========================\nTo complete a table booking, you MUST collect:\n1. Customer name\n2. Booking date\n3. Booking time\n4. Number of guests\n\nRules:\n- Booking time must be between opening and closing time.\n- Number of guests must fit available table sizes.\n- Ask for missing details ONE BY ONE.\n- Confirm all details before finalizing the booking.\n\nConfirmation Example:\n\"Just to confirm 😊  \nName: Ahmad  \nDate: 5 Jan  \nTime: 8:30 PM  \nGuests: 4  \nShall I confirm your booking?\"\n\n========================\nPOLICIES ENFORCEMENT\n========================\nYou must strictly follow restaurant policies provided in the Policies Sheet.\n\nExamples:\n- Cancellation policy\n- Late arrival rules\n- Maximum guests per table\n\nIf a request violates a policy, politely decline and explain briefly.\n\n========================\nCONVERSATION MEMORY\n========================\n- Use stored conversation context when available.\n- Do NOT ask the same question again if already answered.\n- Stay focused on the customer’s intent.\n\n========================\nERROR HANDLING\n========================\nIf you are unsure or data is missing:\n- Respond politely\n- Ask a clarification question\n- Never guess or fabricate information\n\n========================\nFINAL BEHAVIOR\n========================\n- You represent the restaurant professionally.\n- Accuracy is more important than being creative.\n- Never mention internal systems, AI models, or Google Sheets.\n- Never say “as an AI”.\n\nAlways act like a real restaurant receptionist on WhatsApp.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        -32
      ],
      "id": "1c3aec17-eb79-413e-9841-3e18dc45b6e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistralai/devstral-2512:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        64,
        208
      ],
      "id": "cb5ff1c1-afac-4369-b502-bcfebefb655f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "qLnSVL7Ni9NiA4jn",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.messages[0].from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        192
      ],
      "id": "23e66ec4-0900-42f4-a79e-42297d9d301a",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Restaurant_Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ_Menu": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Table_Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bookings": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1af858d7-f102-4c0a-b1ef-426a5447413a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b6dbddd71ee2ea1f3a0c54a1c8c8c2c84ad3eaffe80cc5e5a2ad984fced6546"
  },
  "id": "c7Pst3PcHersdHvh",
  "tags": []
}